<div class="hud">
  <h1>Turns: {{ turns }}</h1>
  <h1>Matches: {{ matches.length }}</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="board">
      <div class="card-container" ng-repeat="card in cards">
        <div class="card" ng-click="flip(card)">
          <div class="value" ng-class="{up: faceUp(card)}">
            {{ card.value }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-md-4" style="background: #ccc;">
    <div class="chat" style="height: 100px;">
      <!-- <div class="messages">
        <div class="message">
          <span class="message-sender">faker</span>:
          <span class="message-body">fake body</span>
        </div>
        <div class="message" ng-repeat="msg in messages">
          <span class="message-sender">{{msg.sender}}</span>:
          <span class="message-body">{{msg.body}}</span>
        </div>
      </div>

      <div class="new-message">
        <div class="input-group">
          <input type="text" ng-model="body" ng-keydown="addMessage($event)"
                 class="form-control" id="new_message" name="message"
                 placeholder="Say it here..."/>
          <span class="input-group-btn">
            <button class="btn btn-success">Send</button>
          </span>
        </div>
      </div> -->
    </div>
  </div>
</div>
