.board {
  padding: 20px;
}
@media (min-width: 768px) {
  .board {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.board .page-header {
  margin-top: 0;
}

.hud {
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-container {
  margin: 5px;
  display: inline-block;
  background: red;

  &:hover {
    outline: 5px solid rgba(25, 100, 255, .6);
  }

  .card {
    display: inline-block;
  }

  .value {
    height: 60px;
    width: 40px;
    margin: 5px;
    color: black;
    font-size: 18px;
    background: white;
    visibility: hidden;

    &.up {
      visibility: visible;
    }
  }
}
