.chat {
  background-color: #CCC;
  position: relative;
}

.new-message {
  position: absolute;
  bottom: 0;
}

.messages {
  height: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}

.message {
  text-align: left;
  text-shadow: none;

  .message-sender {
    color: violet;
    font-weight: bold;
  }

  .message-body {
    color: black;
  }
}
