.chat {
  width: 30%;
  min-width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #CCC;
}

.new-message {
  position: absolute;
  bottom: 0;
}

.messages {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  padding: 0 10px;
}

.message {
  text-align: left;
  text-shadow: none;

  .message-sender {
    color: violet;
    font-weight: bold;
  }

  .message-body {
    color: black;
  }
}
