<!DOCTYPE html ng-app="myApp">
<html>
  <head>
    <title>Topple</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <%= yield %>
        <div ng-view></div>
      </div>
    </div>


  </body>
</html>
